/.idea
/for_re_sh/download_urls/
/for_re_sz/download_urls/
/my_ocr/
/转置代码/*.xlsx
/后续补充的代码/*.xlsx
/for_re_sz/*.xlsx
/求Geoscope/*.xlsx
/求波动标准差/经营活动现金流量(1).xlsx
/后续补充的代码/txt_save/
/for_re_sh/*.xlsx
/求波动标准差/*.xlsx
/找缺失/回归总表(1).xlsx
